<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - COMP2139_Lab1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/COMP2139_Lab1.styles.css" asp-append-version="true"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-pQ05sUVXqvJr0XzjHiJ2ZQHnCujH5nU+EK9nEyn3Z8ZcyHdtyyTzAhJH6F1dq6VWiFQqIQEz7Lh+I8o9Y8Zkg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <style>
    body {
        background-color: #fff9fb;
        font-family: "Poppins", sans-serif;
    }

    .navbar {
        background-color: #ffe6ef !important;
    }

    .navbar-brand {
        font-weight: bold;
        color: #ff4d94 !important;
    }

    .navbar a.nav-link {
        color: #ff4d94 !important;
        font-weight: 500;
    }

    .navbar a.nav-link:hover {
        color: #ff99c2 !important;
        text-decoration: underline;
    }

    footer {
        background-color: #ffe6ef;
        color: #ff4d94;
        font-size: 0.9rem;
        padding: 10px 0;
    }

    footer a {
        color: #ff4d94;
        text-decoration: none;
    }

    footer a:hover {
        color: #ff99c2;
        text-decoration: underline;
    }

    h1, h2, h3 {
        color: #ff4d94;
    }
</style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">COMP2139_Lab1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house-chimney"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">
                            <i class="fa-solid fa-heart"></i> About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Projects" asp-action="Index">Projects 💖</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Tasks" asp-action="Index">Tasks 💖</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted text-center">
    <div class="container">
        &copy; 2025 - Made by <a asp-controller="Home" asp-action="About">Erica Rigby</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>