@{
    ViewData["Title"] = "About Me 💕";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Hello! I’m <strong>Erica Rigby</strong> 💫<br />
        Student ID: <strong>101564385</strong><br />
        Course: <strong>COMP2139 - Web Application Development</strong></p>

    <p>I’m learning ASP.NET MVC and this is my first web app 🌸</p>

    <i class="fa-solid fa-mug-hot fa-2x" style="color:#ff4d94;"></i>
</div>
